section.contact-us{
    padding-top: 0;
    padding-bottom: 0;
   }
   
   
   section.contact-us .contact-info-wrapper{
     padding: 4rem 0;
     flex: 1;
   }
   
   section.contact-us .map{
     flex: 1;
     filter: grayscale(100%);
   }
   
   section.contact-us .contact-info{
     display: flex;
     justify-content: center  ;
   }
   
   section.contact-us .contact-info > div > div{
     display: flex;
     align-items: center;
     margin-bottom: 2rem;
   }
   
   section.contact-us .contact-info > div > div img{
     margin-right: 1rem;
   }
   
   section.contact-us .contact-info > div > div > div{
     display: flex;
     flex-direction: column;
   }
   
   section.contact-us .contact-info > div > div > div span:first-child{
     font-family: "Raleway-Bold";
     margin-bottom: 0.25rem;
   }

   
/* @media(max-width:992px){

} */

/* @media(max-width:768px){

} */

@media(max-width: 576px){
      section.contact-us .contact-info-wrapper{
        padding: 1.5rem 0;
        flex: 1;
      }
      
      section.contact-us .map{
        flex: 1;
      }

      section.contact-us .contact-info{
        font-size: 1em;
      }
}